<!DOCTYPE html>
<html>
  <head>
    <title> Bookmarks </title>
  </head>

  <body>
    <h1> Bookmark Manager </h1>
    <form action="/">
      <input type="submit" value="Homepage">
    </form>
    <form action="/new">
      <input type="submit" value="Add a new bookmark">
    </form>  
    <br>

    <h2> Your bookmarks </h2>
    <ul>
      <% @list.each do |bookmark| %> 
        <li> <a href="<%=bookmark['url']%>"> <%=bookmark['title']%></a></li>
        
        <form action="/delete" method='post'> 
          <input type="hidden" name="id" value="<%=bookmark['id']%>">
          <input type="submit" name="delete_<%=bookmark['id']%>" value="Delete">
        </form> 

        <form action="/update" method='get'> 
          <input type="hidden" name="id" value="<%=bookmark['id']%>">
          <input type="submit" name="update_<%=bookmark['id']%>" value="Update">
        </form>

        <form action="/comment" method='post'> 
          <input type="hidden" name="id" value="<%=bookmark['id']%>">
          <input type="text" id="text_<%=bookmark['id']%>" name="text">
          <input type="submit" name="comment_<%=bookmark['id']%>" value="Submit comment">
        </form>

         <br>
      <% end %>
    </ul>
  </body>
</html>

    